export PIXI_HOME=/mnt/dati/pixi/home
export PIXI_CACHE_DIR=/mnt/dati/pixi/cache
watch_file /mnt/irpinas/planpincieux/ppcx-env/pixi.lock
eval "$(pixi shell-hook --manifest-path /mnt/irpinas/planpincieux/ppcx-env/pixi.toml)"
